.ad{
padding-top:30px;
color:inherit;
background-image:url('image/c.png');



}

.an{
	height:100px;
	width:100px;
	margin-top:15px;
	margin-left:150px;

}
.am{
	margin-left:130px;
}
.a{
	margin-left:350px;
}
.anuj{
	margin-top:100px;
}
 
.mam{
	margin-top:0px;
	padding:0px;
}
.imgage-responsive{
	height:200px;
}
 .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 200px;
 }
 .mw{
	 font-size:40px;
	 margin-left:400px;
	 margin-top:-80px;
	 color:white;
	 font-style: italic;
	 font-family: "Times New Roman", Times, serif;
 }
 .carousel {
  max-height: 700px;
  overflow: hidden;
 }
 
	  element.style {
}
 
.topmenu {
	background-image: url('str.png');
	background-repeat: repeat-x;
	
	height: 200px;

	border: 1px solid repeat;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
	margin-left:50px;
	width:200px;
}
.divstyle{
	
	padding-top:40px;
}
.amit{
	
	height:482px;
	background-image:url('image/pe.jpg');	
	background-attachment:fixed;
	  background-attachment:fixed;
	 background-repeat:no-repeat;
	 -webkit-background-size: auto;
-moz-background-size: auto;
 
background-size: 1350px 750px; 
}
  .pra{
	height:350px;
	background-image:url('image/city.png');
	margin-top:143px;
	background-attachment:fixed;
	 background-repeat:no-repeat;
	 -webkit-background-size: auto;
-moz-background-size: auto;
 
background-size: 1370px 750px; 
}
 .anki{
	 height:400px;
	 background-image:url('image/moh.png');
	 margin-top:120px;
	 background-attachment:fixed;
	 background-repeat:no-repeat;
	 -webkit-background-size: auto;
-moz-background-size: auto;
 
background-size: 1350px 700px; 
 }
 .aryan{
	 
	  background-attachment:fixed;
	 background-repeat:no-repeat;
	 -webkit-background-size: auto;
-moz-background-size: auto;
opacity:0.8;
 }